[submodule "workflows/wdl-common"]
	path = workflows/wdl-common
	url = https://github.com/iggyB/wdl-common-ugc.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/iggyB/HiFi-human-WGS-WDL.wiki.git
